.courses-view{
    min-height: calc(100vh - 58px);
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coursesSection{
    min-height: 50vh;
    display: flex;
    justify-content: center;   
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
    gap: 30px;
}
