.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a2e;
    padding: 15px 30px;
}
.header__logo{
    text-decoration: none;
}
.header__title{
    color: #c53c56;
    margin: 0;
}
.header__navegation{
    display: flex;
    align-items: center;
}
.navegation__items{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.navegation__item,
.navigation__item{
    text-decoration: none;
    color: #ccccc9;
    font-size: 1rem;
    transition: all 200ms ease;
}
.navegation__item:hover,
.navigation__item:hover{
    color: #ffffff;
}
.navigation__item--active,
.navegation__item--active {
    color: #ffffff;
    font-weight: 600;
}